$icomoon-font-path: "fonts" !default;

$icon-star-o: "\e906";
$icon-star: "\e907";
$icon-commenting-o: "\e900";
$icon-file-o: "\e901";
$icon-calendar: "\e902";
$icon-x: "\e905";
$icon-plus: "\e903";
$icon-pen-angled: "\e904";
$icon-pen-angled2: "\e908";

